<div class="card flex justify-center">
  <p-button label="Check" />
</div>

<!-- <mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-button color="primary">Yu Gi Oh - Forbidden Memories</button>

  Desktop menu
  <span class="spacer"></span>
  <ng-container *ngIf="!isMobile">
    <a mat-button class="docs-navbar-hide-small"
       [routerLink]="key"
       routerLinkActive="docs-navbar-header-item-selected">{{sections[key].name}}</a>
    <button mat-button color="primary">Home</button>
    <button mat-button color="primary">Fusions</button>
    <button mat-button color="primary">Resources</button>
  </ng-container>

  Mobile menu
  <ng-container *ngIf="isMobile">
    <button mat-icon-button class="primary-color" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Home</button>
      <button mat-menu-item>Docs</button>
      <button mat-menu-item>Resources</button>
    </mat-menu>
  </ng-container>
</mat-toolbar> -->
