<header class="app-navbar">
  <div class="logo">
    <img src="assets/icons/millenium_puzzle.png" class="logo-icon" alt="Logo" />
    <p-button
      variant="text"
      label="Yu Gi Oh - FM"
      class="site-title p-button-text-icon-left"
    />
    <!-- <span class="site-title">Yu Gi Oh - FM</span> -->
  </div>
  <div class="nav-items">
    <div class="nav-links">
      <p-button label="Fusions" variant="text" />
      <p-button label="Cards" variant="text" />
      <p-button label="Enemies" variant="text" />
    </div>
    <div class="nav-utils">
      <app-dark-mode-switch />
    </div>
  </div>
</header>
