<div class="fusion-wrapper">
  <form [formGroup]="fusionForm">
    <section class="fusion-section top">
      <h2 class="section-heading">Field Cards</h2>
      <div formArrayName="monsterIds" class="card-row">
        <ng-container
          *ngFor="
            let ctrl of monsterIds.controls;
            let i = index;
            trackBy: trackByIndex
          "
        >
          <div class="card-input-pair">
            <p-card
              class="fusion-card"
              (click)="openPicker(monsterFieldCards, i)"
            >
              <img [src]="monsterFieldCards[i].imageUrl" class="fusion-image" />
            </p-card>
            <p-floatlabel variant="on" class="card-input-wrapper">
              <p-inputNumber
                [formControlName]="i"
                [min]="0"
                [max]="722"
                mode="decimal"
                [inputId]="'monster-' + i"
                showButtons="true"
                styleClass="card-id-wrapper"
                inputStyleClass="card-id-input"
              ></p-inputNumber>
              <label [for]="'monster-' + i">Card #</label>
            </p-floatlabel>
          </div>
        </ng-container>
      </div>
    </section>

    <!-- Magic row -->
    <section class="fusion-section top">
      <div formArrayName="magicIds" class="card-row-2">
        <ng-container
          *ngFor="
            let ctrl of magicIds.controls;
            let i = index;
            trackBy: trackByIndex
          "
        >
          <div class="card-input-pair">
            <p-card
              class="fusion-card"
              (click)="openPicker(magicFieldCards, i)"
            >
              <img [src]="magicFieldCards[i].imageUrl" class="fusion-image" />
            </p-card>
            <p-floatlabel variant="on" class="card-input-wrapper">
              <p-inputNumber
                [formControlName]="i"
                [min]="0"
                [max]="722"
                mode="decimal"
                [inputId]="'magic-' + i"
                showButtons="true"
                styleClass="card-id-wrapper"
                inputStyleClass="card-id-input"
              ></p-inputNumber>
              <label [for]="'magic-' + i">Card #</label>
            </p-floatlabel>
          </div>
        </ng-container>
      </div>
    </section>

    <!-- Hand row -->
    <section class="fusion-section middle">
      <h2 class="section-heading">Hand Cards</h2>
      <div formArrayName="handIds" class="card-row">
        <ng-container *ngFor="let ctrl of handIds.controls; let i = index">
          <div class="card-input-pair">
            <p-card class="fusion-card" (click)="openPicker(handCards, i)">
              <!-- <img [src]="handCards[i].imageUrl" class="fusion-image" /> -->
            </p-card>
            <p-floatlabel variant="on" class="card-input-wrapper">
              <p-inputNumber
                [formControlName]="i"
                [min]="0"
                mode="decimal"
                [inputId]="'hand-' + i"
                showButtons="true"
                styleClass="card-id-wrapper"
                inputStyleClass="card-id-input"
              ></p-inputNumber>
              <label [for]="'hand-' + i">Card #</label>
            </p-floatlabel>
          </div>
        </ng-container>
      </div>
    </section>

    <!-- <section class="fusion-section bottom">
      <h2 class="section-heading">Available Fusions</h2>
      <div class="card-row">
        <div
          *ngFor="let fusion of availableFusions; let i = index"
          class="fusion-group-row"
        >
          <div class="card-input-pair">
            <p-card class="fusion-card">
              <img
                [src]="getCardImageUrl(availableFusions[i].card1)"
                class="fusion-image"
              />
            </p-card>
          </div>
          <div class="card-input-pair">
            <p-card class="fusion-card">
              <img
                [src]="getCardImageUrl(availableFusions[i].card2)"
                class="fusion-image"
              />
            </p-card>
          </div>
          <div class="card-input-pair">
            <p-card class="fusion-card">
              <img
                [src]="getCardImageUrl(availableFusions[i].result)"
                class="fusion-image"
              />
            </p-card>
          </div>
        </div>
      </div>
    </section> -->
    <!-- <section class="fusion-section bottom">
      <h2 class="section-heading">Available Fusions</h2>
      <div class="fusion-list">
        <div *ngFor="let fusion of availableFusions.fusions" class="fusion-group-row">
          <div class="card-input-pair">
            <p-card class="fusion-card">
              <img [src]="getCardImageUrl(fusion.card1)" class="fusion-image" />
            </p-card>
          </div>
          <div class="card-input-pair">
            <p-card class="fusion-card">
              <img [src]="getCardImageUrl(fusion.card2)" class="fusion-image" />
            </p-card>
          </div>
          <div class="card-input-pair">
            <p-card class="fusion-card">
              <img
                [src]="getCardImageUrl(fusion.result)"
                class="fusion-image"
              />
            </p-card>
          </div>
        </div>
      </div>
    </section> -->
  </form>
</div>
<app-cards-list-popup
  [(visible)]="showPicker"
  (selection)="onCardSelectedForm($event)"
></app-cards-list-popup>
