<div class="fusion-wrapper">
  <section class="fusion-section top">
    <h2 class="section-heading">Field Cards</h2>
    <div class="card-row">
      <p-card
        *ngFor="
          let card of monsterFieldCards;
          let i = index;
          trackBy: trackByIndex
        "
        class="fusion-card"
      >
        <img
          [src]="card.imageUrl"
          [alt]="'Card ' + card.id"
          class="fusion-image"
        />
      </p-card>
    </div>
    <div class="card-row">
      <p-card
        *ngFor="
          let card of magicFieldCards;
          let i = index;
          trackBy: trackByIndex
        "
        class="fusion-card"
      >
        <img
          [src]="card.imageUrl"
          [alt]="'Card ' + card.id"
          class="fusion-image"
        />
      </p-card>
    </div>
  </section>

  <section class="fusion-section middle">
    <h2 class="section-heading">Hand Cards</h2>
    <div class="card-row">
      <ng-container
        *ngFor="let card of handCards; let i = index; trackBy: trackByIndex"
      >
        <div class="card-input-pair">
          <p-card class="fusion-card" (click)="openPicker(handCards, i)">
            <img
              [src]="card.imageUrl"
              [alt]="'Card ' + card.id"
              class="fusion-image"
            />
          </p-card>
          <p-floatlabel variant="on" class="card-input-wrapper">
            <input
              pInputText
              type="number"
              min="0"
              max="722"
              [value]="card.id"
              (input)="onIdChange(handCards, i, $any($event.target).value)"
              [id]="'card-id-' + i"
              autocomplete="off"
              class="card-id-input"
            />
            <!-- <p-inputNumber
              [min]="0"
              [max]="722"
              mode="decimal"
              [inputId]="'card-id-' + i"
              styleClass="card-id-wrapper"
              inputStyleClass="card-id-input"
              [formControl]="cardIdControls.at(i)"
              showButtons="true"
            ></p-inputNumber> -->
            <label [for]="'card-id-' + i">Card ID</label>
          </p-floatlabel>
        </div>
      </ng-container>
    </div>
  </section>

  <section class="fusion-section bottom">
    <h2 class="section-heading">Available Fusions</h2>
    <div class="card-row"></div>
  </section>
</div>

<app-cards-list-popup
  [(visible)]="showPicker"
  (selection)="onCardSelected($event)"
></app-cards-list-popup>
