<div class="card-list-body">
  <form [formGroup]="filterForm" class="filters">
    <p-floatlabel variant="on">
      <input
        pInputText
        id="on_label"
        pSize="large"
        formControlName="search"
        autocomplete="off"
      />
      <label for="on_label">Card Name</label>
    </p-floatlabel>
    <p-floatlabel class="w-full md:w-80">
      <p-multiselect
        [options]="groupedCities"
        [group]="true"
        formControlName="filters"
        placeholder="Select Cities"
        scrollHeight="250px"
        display="chip"
        styleClass="w-full md:w-80"
        size="large"
      >
        <ng-template let-group #group>
          <div class="flex items-center">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
              [class]="'mr-2 flag flag-' + group.value"
              style="width: 20px"
            />
            <span>{{ group.label }}</span>
          </div>
        </ng-template>
      </p-multiselect>
      <label for="over_label">Filters</label>
    </p-floatlabel>
  </form>
  <div class="card-row">
    <p-card *ngFor="let card of filteredCards" class="fusion-card">
      <img
        [src]="'assets/images/cards/' + (card.id! | padId) + '.png'"
        [alt]="'Card ' + card.id"
        class="fusion-image"
      />
    </p-card>
  </div>
</div>

<!-- //skeleton //animateonscroll //progressspinner //ripple // card size: 140 x 212 -->
